* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
}
.nav{
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;

}
.nav2{
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 30px;
}