#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.background-container {
  background-color: #b5d3f1;
  min-height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.todo-list-content {
 
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 400px;
  max-height: 90vh;
}